*~
*.sh
*.sdf
*.o
*.out
*.swp
*.vmp
.idea
*.txt
*.dll
*.obj
*.tlog
*.exp
*.lib
*.ilk
*.lib
*.dll
*.pdb
*.suo
*.log 
*.filters
*.idb
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tox
*.toc
*.vrb
*.user
build-*
